<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Add new taxi receipt</title>
	<link rel="stylesheet" href="public/styles/style.css">
</head>

<body>
	<h1>Add new taxi receipt</h1>
	<div class="form">
	<form action="post" method="post">
	<label for="turnummer">Turnummer</label><input name="tour" id="turnummer" class="text"/><br/>
	<label for="fra">Fra</label><input name="from" id="fra" class="text"/><br/>
	<label for="til">Til</label><input name="to" id="til" class="text"/><br/>
	<label for="prosjekt">Prosjekt</label><input name="project" id="prosjekt" class="text"/><br/>
	<input type="submit" value="Send" class="button"/><br/>
	</form>
	</div>
</body>
</html>